body {
    font-family: Arial, sans-serif;
    background-color: #f0e68c; /* 卡其色 */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.feature-box {
    background-color: white;
    border: 2px solid #ddd; /* 添加边框 */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex-basis: calc(33% - 20px); /* 每个功能区占据三分之一的宽度 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time-display, .pomodoro-timer, .notebook {
    text-align: center;
}

#note-input {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

#notes-display div {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

.video-button {
    background-color: #d7bde2; /* 浅紫色 */
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #444;
    cursor: pointer;
}
